<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    </head>
    <header>
        
         <nav class="navbar navbar-expand-lg navbar-light bg-dark mb-4 ">
                <a class="navbar-brand text-white" th:href="@{/usuario}">INDEX</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a th:href="@{/usuario/add}" class="nav-item nav-link active text-white" href="#">Registro</a>
                    </div>
                    <div class="navbar-nav">
                        <a th:href="@{/usuario/cargamasiva}" class="nav-item nav-link active text-white" href="#">CargaMasiva</a>
                    </div>
                </div>
            </nav>
        
    </header>
    
    
    
    <body layout:fragment="body">
        <div>TODO write content</div>
    </body>
    
    <footer>@Digis01 Soluciones Digitales</footer>
</html>
